$pink: #F60084;
$dark-blue: #4E5E68;
$black: #122029;
$white: #fff;
$gray: #DDE5E8;
$green: #50BA58;
$red: #EF252F;

$map-background: #F9F4EF;

$zone-colors: 'red', 'blue', 'purple', 'green', 'pink', 'teal', 'lemon', 'orange';