@import "base.scss";

body {
  width: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.body-wrapper {
  position: absolute;

  width: 100%;
  height: 100%;

  overflow: hidden;
  background: $dark-blue;

  section, aside {
    display: inline-block;
    vertical-align: top;
  }
}

section {
  width: 70% - 1%;
  height: 100%;

  background: $map-background;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;

    cursor: pointer;
  }
}

aside {
  width: 30%;
  height: 100%;
}

.user-profile-wrapper {
  display: inline-block;

  width: 48%;
  height: 50%;
  padding: 10px;
  box-sizing: border-box;

  .user-profile {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;

    overflow: auto;
    background: $white;
    text-align: center;
  }
}

.user-profile-wrapper .user-profile {
  .profile-picture {
    width: 75px;
    height: 75px;
    margin: 10px 0;

    @include border-radius(50%);
    border: 1px solid $gray;
    box-shadow: 0 0 0 3px white, 0 0 0 4px $gray;
  }

  .name {
    margin: 0;

    font: {
      size: 1em;
    }
    color: $pink;
  }

  .about {
    margin: 5px 0 0 0;
    padding: 0;
    box-sizing: border-box;

    list-style-type: none;

    li {
      @include display(flex);
      @include align-items(center);

      margin: 3px 0;
      padding: 0;

      text-align: left;

      > * {
        display: inline;
        vertical-align: middle;
      }

      img {
        padding: 0 5px 0 0;
      }

      p {
        @include flex(1);

        color: $black;
        font-size: 0.7em;
      }
    }
  }
}

.score {
  position: fixed;
  top: 0;
  right: 0;

  background: transparentize($black, 0.8);

  p {
    margin: 1em;

    color: $white;
    @include transition(color, .5s, ease-in);

    &.increase {
      color: $green;
    }

    &.decrease {
      color: $red;
    }
  }
}