doctype html
html
  head
    meta(charset='utf-8')

    title Lyft Game

    link(rel='stylesheet', href='css/home.css')
  body
    .body-wrapper
      section.js-map

      aside

    script#template-user-profile(type='x-tmpl-mustache')
      include user_profile