doctype html
html
  head
    meta(charset='utf-8')

    title Lyft Game

    link(rel='stylesheet', href='css/home.css')
  body
    .body-wrapper
      section
        svg.js-map

      aside.js-user-list

    .score
      p.js-score

    script#template-user-profile(type='x-tmpl-mustache')
      include user_profile

    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='bower_components/snap.svg/dist/snap.svg-min.js')
    script(type='text/javascript', src='bower_components/mustache.js/mustache.min.js')
    script(type='text/javascript', src='js/main.js')