doctype html
html
  head
    title Lyft Game
    style(type='rel/stylesheet', src='css/home.css')
  body
    section.js-map

    aside

    script#template-user-profile(type='x-tmpl-mustache')
      include user_profile