doctype html
html
  head
    meta(charset='utf-8')

    title Lyft Game

    link(rel='stylesheet', href='css/home.css')
  body
    .body-wrapper
      section
        svg.js-map

      aside.js-user-list

    .score
      p.js-score

    .popup-wrapper.js-popup-wrapper.hidden
    .starting-popup.js-starting-popup.hidden
      p
        | Ever wanted to be a Lyft driver? Here you go!
        br
        | Try to pick up riders and drop them as fast as possible!
        br
        | Just click on a street to move your car to this spot.
      p.confirmation.js-confirmation Alright! I'm ready!!

    .ending-popup.js-ending-popup.hidden
      p
        | Aw :( Game over...
        br
        | Thanks for playing!
      p.js-game-countdown You played for:
      .share-wrapper
        img.email.js-email
        img.facebook.js-facebook
        img.twitter.js-twitter
      p.play-again.js-play-again Play again?

    script#template-user-profile(type='x-tmpl-mustache')
      include user_profile

    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='bower_components/snap.svg/dist/snap.svg-min.js')
    script(type='text/javascript', src='bower_components/mustache.js/mustache.min.js')
    script(type='text/javascript', src='js/main.js')