.user-profile-wrapper
  .user-profile
    .profile-picture
      img(src='{{profile_picture_src}}')

    ul.about
      li.location
        img(src='imgs/ic_location.png')
        p From {{location}}
      li.music
        img(src='imgs/ic_music.png')
        p Listening to {{music}}
      li.likes
        img(src='imgs/ic_likes.png')
        p When I am not driving I like {{likes}}